<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TextED</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style>
    .title{

        margin : 30px;
        font-size : 50px;

    }
    .buttons{
        margin : 100px;
        
    }
    .b{
        margin :10px;
        color: #000000;
        text-decoration: none;
        padding: 20px;
        font-size: 30px;
    }
    .b:hover {
        background-color: #000000;
        color: #fff;
    }
    .info{
        font-size: 18px;
    }
  </style>

  <body>
    <center>
   <div class = "title">TextED</div>
   <div class = "info"><p>Encrypt or Decrypt your Text.</p></div>
    <div class = "buttons">
        <a role="button" class ="b" href='/encrypt'>Encrypt Text</a>
        <a role="button" class ="b" href='/decrypt'>Decrypt Text</a>
    </div>
</center>
  </body>
</html>